extends ../layouts/common.pug
block content 
  .container
      h3 Create new book
      a(class="d-inline-block mb-2", href="/books") Back
      form(action="/books/create", method="post")
        .form-group
          input(class="form-control", type='text', name="title", placeholder="Title Book")
        .form-group
          input(class="form-control", type='text', name="description", placeholder="Description Book")
        button.btn.btn-primary Create 