h2 Library
a(href="/") Back
br
br
a(href="/books/create" method="post") New Book
ul
 each book in books
    li
      span=book.title
      span &nbsp
      a(href='/books/'+book.id+'/update') Update
      span &nbsp
      a(href='/books/'+book.id+'/delete') Xóa
      