extends ../layouts/common.pug
block content 
   .container
    h3 Update Title Books
    form(action="/books/"+book.id+"/update" method="POST")
      .form-group
        input(class="form-control", type='text', name='title' ,id=book.id, placeholder="New Title")
      button.btn.btn-primary Update