extends layouts/common.pug
block content
 div(class="container-fluid")
    div(class="row bg-danger")
      div(class="col-4")
        h2(class="text-white") Library
      div(class="col-8")
        ul(class="nav justify-content-end")
          li(class="nav-item")
            a(class="nav-link text-white", href="/books") Books
          li 
            a(class="nav-link text-white", href="/users") User
          li 
            a(class="nav-link text-white", href="/transactions") Transactions