extends layouts/common.pug
block content
 .container-fluid
    .row.bg-danger
      .col-4
        h2.text-white Library
      .col-8
        ul.nav.justify-content-end
          li.nav-item
            a.nav-link.text-white(href="/books") Books
          li 
            a.nav-link.text-white(href="/users") User
          li 
            a.nav-link.text-white(href="/transactions") Transactions