extends ../layouts/common.pug
block content 
   .container
    h3 Update Name
    form(action="/users/"+user.id+"/update" method="POST")
      .form-group
        input.form-control(type='text', name='name', id=user.id ,placeholder="New Name")
      button.btn.btn-primary Update

