extends ../layouts/common.pug
block content 
  div(class="container")
    h3 List Users

    a.d-inline-block.mb-2(href="/") Back

    ul.list-group
      a(class="list-group-item", href="/users/create") New User
    table.table
      thead
        tr
          th ID 
          th Name
          th
      tbody
      each client in user
          tr
              th= client.id
              td= client.name
              td
                span &nbsp;
                a(href=('/users/'+ client.id+'/update')) Update
                span &nbsp;
                a(href=('/users/'+ client.id+'/delete')) Delete



