extends ../layouts/common.pug
block content 
  .container
      h3 Add User
      a(class="d-inline-block mb-2", href="/users") Back
      form(action="/users/create", method="post")
        .form-group
          input(type="text" name="name" placeholder="Enter Your Name...")
        button.btn.btn-primary Create 
