extends ../layouts/common.pug
block content
  .container
    h3 Create new transaction
    a(class="d-inline-block mb-2", href="/transactions") Back
  form(action="/transactions/create", method="post")
      .form-group.input-group
        .input-group-prepend
          label.input-group-text Name
        select(class="custom-select", name="user", id="user")
          each user in users
            option(value= `${user.id}`)= user.name
      .form-group.input-group
        .input-group-prepend
          label.input-group-text Book
        select(class="custom-select", name="book")
          each book in books
            option(value= `${book.id}`)= book.title
      button.btn.btn-primary Create