h2 Transaction
a(href="/") Back
br
br
a(href="/transactions/create" method="post") New Transaction

table(style="width: 100%; table-layout: fixed; text-align:center;")
  thead
    tr
      th ID 
      th ID User
      th ID Book
      th Status
      th Check
  tbody
    each trans in transactions
      tr
          td= trans.id
          td= trans.userID
          td= trans.bookID
          td= trans.status
          td
            a(href='/transactions/'+trans.id+'/complete') Hoàn Thành